.link-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link-preview label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link-preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}
